@font-face {
  font-family: "PressStar2P";
  src: url('fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: "Acume";
  src: url('fonts/Acme-Regular.ttf');

}

body {
  background-image: url('../images/bg.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  justify-content: center;
  color: while;
  align-items: center;
  font-size: large;
}

legend {
  font-size: 30px;
  font-weight: lighter;
  font-family: 'PressStar2p';
}

#headerf {
  z-index: 1000;
  position: fixed;
  top: 0%;
  overflow-y: hidden;
}


.fldst {
  border-style: hidden;
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 8px;
  padding: 30px;
  width: 700px;
  font-family: 'Acume';
  text-align: center;
  margin: 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
}


button {
  padding: 10px;
  margin: 5px;
  border: hidden;
  border-radius: 4px;
  font-family: 'Acume';
  font-weight: bolder;
  opacity: 0.7;
  width: 40%;
  background-color: rgb(255, 255, 255);
}

button:hover {
  background-color: rgba(174, 190, 29, 0.781);
  color: aliceblue;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}


/* Header */
nav {
  padding: 0;
  margin: 0;
}

#nav {
  display: flex;
  border: hidden;
  height: 90px;
  background-color: #ddd3d3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

#nave-name {
  display: flex;
  font-size: 20px;
  color: black;
  padding-top: 20px;
  width: 100%;
  padding-left: 32%;
}

#nave-image {
  width: 50px;
  height: 70px;
  display: flex;
  z-index: 1;
}

#nave-name :hover {
  color: #645b5bce;
}

.SLKU {
  align-items: center;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  display: inline-block;
  position: relative;
}


.drop-down {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  color: #000;
}

.drop-down li {
  display: block;
}

.drop-down li a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: lighter;
}


li:hover .drop-down {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.home {
  padding-left: 44px;
  font-weight: bolder;
}


.drop-down li:hover a {
  background-color: #f0f0f0;
}

#up {
  color: white;
  background-color: rgba(24, 24, 121, 0.63);
  border: hidden;
  margin-right: 2%;

  margin-top: 15px;
  margin-bottom: 15px;

  border-radius: 8px;
}

.uprof {
  width: 20px;

}

button:hover {
  background-color: #d9fd0a;

}

button {
  width: 180px;
}


/*footer*/

.footer {
  background-color: #111;
  width: 100%;

}

footer {
  width: 100%;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
  display: inline;
}

.socialIcons {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: black;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: chartreuse;
  transition: 0.5s;
}

.Nav {
  margin: 30px 0;
}

.Nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.Nav ul li a {
  color: white;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.Nav ul li a:hover {
  opacity: 1;
}

.fimage1 {
  height: 15%;
  width: 25%;
  position: relative;

}

.fimage2 {
  height: 30%;
  width: 40%;
  position: relative;
  float: right;
}

.footerBottom {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
}