body {
  font-family: Arial, sans-serif;
  margin: 100px;
  padding: 0;
  background-image: url("../images/bgupdate.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  max-width: 500px;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #00000096;
  color: #ffffffe0;
  font-family: 'Times New Roman', Times, serif;
}

.txt,
.mail,
.pno,
.dob,
.faculty,
.name,
.fac {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #a19c9c8e;
  border: hidden;
}

.sub {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.sub:hover {
  background-color: #444;
}

button {
  background-color: #333;
  color: #b7b2b281;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: hidden;
}

button:hover {
  background-color: #444;
}

button a {
  color: #fff;
  text-decoration: none;
}

button a:hover {
  color: #ccc;
}

/*....................................*/
      /*footer*/

        .footer {
          background-color: #111;

        }

        footer {
          padding-left: 0%;
        }

        .footerContainer {
          display: inline;
        }

        .socialIcons {
          display: flex;
          justify-content: center;
          padding: 5px;
        }

        .socialIcons a {
          text-decoration: none;
          padding: 10px;
          background-color: white;
          margin: 10px;
          border-radius: 50%;
        }

        .socialIcons a i {
          font-size: 2em;
          color: black;
          opacity: 0.9;
        }

        .socialIcons a:hover {
          background-color: black;
          transition: 0.5s;
        }

        .socialIcons a:hover i {
          color: chartreuse;
          transition: 0.5s;
        }

        .Nav {
          margin: 30px 0;
        }

        .Nav ul {
          display: flex;
          justify-content: center;
          list-style-type: none;
        }

        .Nav ul li a {
          color: white;
          font-weight: bold;
          margin: 20px;
          text-decoration: none;
          font-size: 1.3em;
          opacity: 0.7;
          transition: 0.5s;
        }

        .Nav ul li a:hover {
          opacity: 1;
        }

        .fimage1 {
          height: 15%;
          width: 25%;
          position: relative;
        }

        .fimage2 {
          height: 30%;
          width: 40%;
          position: relative;
          float: right;
        }

        .footerBottom {
          background-color: black;
          padding: 20px;
          text-align: center;
          color: white;
        }



        /* Header */

        #nav {
          display: flex;
          border: hidden;
          height: 90px;
          background-color: #ddd3d3;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          padding: 0;
          margin: 0;
          transform: translateY(-100px);
          padding: 0%;
        }

        #nave-name {
          display: flex;
          font-size: 20px;
          color: black;
          padding-top: 20px;
          width: 100%;
          padding-left: 32%;
        }

        #nave-image {
          width: 50px;
          height: 70px;
          display: flex;
          z-index: 1;
        }

        #nave-name :hover {
          color: #645b5bce;
        }

        .SLKU {
          align-items: center;
          display: flex;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        ul,
        li {
          display: inline-block;
          position: relative;
        }


        .drop-down {
          display: none;
          position: absolute;
          background-color: #fff;
          min-width: 200px;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

          color: #000;
        }

        .drop-down li {
          display: block;
        }

        .drop-down li a {
          color: #000;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          font-weight: lighter;
        }


        li:hover .drop-down {
          display: block;
        }

        a {
          text-decoration: none;
          color: #000;
        }

        .home {
          padding-left: 44px;
          font-weight: bolder;
        }


        .drop-down li:hover a {
          background-color: #f0f0f0;
        }

        #up {
          color: white;
          background-color: rgba(24, 24, 121, 0.63);
          border: hidden;
          margin-right: 2%;

          margin-top: 15px;
          margin-bottom: 15px;

          border-radius: 8px;
        }

        .uprof {
          width: 20px;

        }

        button:hover {
          background-color: #d9fd0a;

        }

        button {
          width: 180px;
        }