*{
    padding: 0;
    margin: 0;
   
   
}
body{
    height:100%;
    width: 100%;
    
    border-radius: 5px;
    background-image: url(uni.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(100, 96, 96);
}
.main-div{
    display: flex;
   justify-content: center;
   
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
   
   
  
    
    
   
}

.registar-form{
    width: 530px;
    background-color: white;
    text-align: center;
    border: 8px;
   
    border-radius: 10px;
    
   
}
.form-heading{
    text-align: center;
    padding: 10px;
    border-bottom: 1px ;
    border-bottom: solid ;
   border-bottom-color:#ccc;
   padding-top: 7%;
   padding-bottom: 7%;
}
.input-fields{
   padding: 15px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.input{
    padding: 8px;
    border: 1px ;
    border: solid ;
   border-color:#ccc;
   border-radius: 8px;
   width: 100%;
}

.half-width{
    width: 44%;
    display: flex;
    border: 1px ;
    border: solid ;
    border-color:#ccc;
    border-radius: 8px;
    justify-content: space-between;
  padding-left: 5px;
    margin-right: 1%;
    margin-bottom: 4%;
    margin-top: 3%;

    
    
    
}
.full-width{
    width: 100%;
    padding-top: 2%;
    border: 1px ;
    border: solid ;
    border-color:#ccc;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 4%;
   
}
select{
    padding: 8px;
    border: 1px ;
    border: solid ;
   border-color:#ccc;
   border-radius: 8px;
   width: 100%;
}
.option-div{
    margin-top: 8px;
   
   width: 100%;
}
.comments{
    width: 100%;
    border: 1px ;
    border: solid ;
   border-color:#ccc;
    padding-top:2%;
    height: 75px;
    margin-bottom: 3%;
    text-align: left;
    
    
}
.update{
    background-color: green;  
   border: 0;
   padding: 8px 55px;
   color: white;
   margin-top: 10%;
   border-radius: 15px;
   margin-left: 33%;
   
   margin-bottom: 15%;
   
}
.delete{
    background-color: green;  
    border: 0;
    padding: 8px 55px;
    color: white;
    margin-top: 10%;
    border-radius: 15px;
   
    margin-left: 13%;
    margin-bottom: 15%;
    
}
#button{
    display: flex;
   

}
a{
    color: white;
    text-decoration: none;
   
}


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
}
.footer
{
    background-color: #111;
    width: 100%;
    
}
footer{
    width: 100%;
}
.footerContainer
{
    width:100%;
    padding:70px 30px 20px;
    display: inline;
}

.socialIcons
{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.socialIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i
{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover
{
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i
{
    color: chartreuse;
    transition: 0.5s;
}

.Nav
{
    margin:30px 0;
}
.Nav ul
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.Nav ul li a
{
    color: white;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.Nav ul li a:hover
{
    opacity: 1;
}
.fimage1
{
    height:15%;
    width:25%;
    position:relative;
    
}

.fimage2
{
    height: 30%;
    width: 40%;
    position: relative;
    float:right;
}
.footerBottom
{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}




#nav {
    display: flex;
    border: hidden;
    height: 70px; 
    background-color: #ddd3d3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    z-index: 100%;
    position: fixed;
}

h3 {
    display: flex;
    padding-left: 10%;
    padding-right: 5%;
}

#nave-name {
    display: flex;
    font-size: 20px;
    color: black;
    padding-top: 20px;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

#nave-image {
    width: 50px;
    height: 70px;
    display: flex;
    
}
#nave-name :hover{
    color: #645b5bce;
}

.SLKU {
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul,
li {
    display: inline-block;
    position: relative;
}


.drop-down {
    display: none; 
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   
    color: #000;
}

.drop-down li {
    display: block;
}

.drop-down li a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: lighter;
}


li:hover .drop-down {
    display: block;
}
a{
    text-decoration: none;
    color: #000;
}
.home{
    padding-left: 44px;
    font-weight: bolder;
}


/* Change color of dropdown menu items when hovering over them */
.drop-down li:hover a {
    background-color: #f0f0f0;
}

#up{
    color: white;
    background-color: rgba(24, 24, 121, 0.63);
    border: hidden;
   
   margin-left: 89px;
    
    margin-top: 15px;
    margin-bottom: 15px;
    
    border-radius: 8px;
}
.uprof{
    width: 20px;
   
}
button :hover{
    background-color: #0400d6ce;


}
